
#conteiner_main{
    width: 100vw;
    min-height: 100vh;
    max-height: max-content;

    position: relative;
    top: 0vh;
    left: 0;
}

#conteiner_main .main_title{
    width: 25vw;
    height: max-content;

    position: absolute;
    left: 5vw;
    top: 5vh;

    font-size: 18px;
}


/* componente icon para el carrito de las compras */

#conteiner_main .icon_img{
    width: fit-content;
    height: fit-content;

    position: absolute;
    left: 95%;
    top: 2.5%;
}

#conteiner_main .icon_img img{
    width: 1.5vw;
    height: 1.5vw;
}

#conteiner_main .icon_img div{
    position: relative;
    left: -2.5vw;
    top: -3.5vh;

    width: 2vw;
    height: 3vh;

    background-color: rgb(56, 56, 247);
    border-radius: 25%;
}

#conteiner_main .icon_img div p{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    color: white;
}

/* loading animacion */

#conteiner_main .loader {
    position: absolute;
    left: 50%;
    top: 30%;
    
    width: 48px;
    height: 48px;
    border: 5px solid rgb(219, 9, 9);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

/* componente ItemCount.js */

#Count_container{
    height: 25vh;
    width: 25vw;

    position: relative;
    top: 40%;
    left: 50%;

    transform: translate(-50%);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#Count_container #Input_container img{
    width: 21px;
    height: 21px;
}


#Count_container h6{
    width: 25vw;
    height: 5vh;

    font-size: 25px;
    text-align: center;
    display: block;
}

#Count_container #Input_container{
    width: 25vw;
    height: 5vh;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    position: relative;
}

#Count_container #Input_container input{
    width: 15vw;
    height: 2.5vh;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}


#Count_container #Input_container .minus{
    position: absolute;
    top: 50%;
    left: 15%;

    transform: translate(-15%, -50%);
}

#Count_container #Input_container .max{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-85%, -50%);
}

/* boton comprar dentro de options */

#ItemDetail .Options #Buy{
    width: 20vw;
    height: 5vh;

    position: absolute;
    top: 90%;
    left: 50%;

    transform: translate(-50%, -90%);
}